@import "tailwindcss" source(none) important;

@theme {
    /* 在这里定义你的设计系统变量 */
    --color-border: var(--ant-border-color-split);
    --color-sider: #ffffff;
    --color-appbar: #ffffff;
    --color-body-bg: var(--ant-layout-body-background);
    --color-bg-base: var(--ant-background-color-base);
    --color-text: var(--ant-text-color);
    --radius-borderbase: var(--ant-border-radius-base);
    --color-item-hover-bg: var(--ant-item-hover-bg);
    --color-item-active-bg: var(--ant-item-active-bg);
    --color-content-bg: var(--ant-card-background);
}

@layer base {
    .dark {
        --color-sider: var(--ant-layout-sider-background);
        --color-appbar: var(--ant-layout-header-background);
    }

    iconify-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
}

@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: #00000080;
        border-radius: 6px
    }
    
    .scrollbar-custom::-webkit-scrollbar-track-piece {
        background-color: #0000;
        border-radius: 0
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background-color: #00000080;
        border-radius: 6px
    }

    .scrollbar-custom {
        scrollbar-width: thin;
        scrollbar-color: rgba(0,0,0,.5) transparent;
    }
}

@plugin "@iconify/tailwind4";
/* Use source(none) to completely disable automatic source detection */
/* You can use @source "path" to manually specify a source */
/* view more:https://tailwindcss.com/docs/detecting-classes-in-source-files#disabling-automatic-detection */
@source "../Components";
@source "../../CleanAdmin.Web.Client/Pages";
@source "../../CleanAdmin.Web.Client/Layout";
@source "../../CleanAdmin.Web.Client/Components";


